<hr />
<h4 class="text-center mb-5">
  <b>
    <i class="fas fa-users mr-2"></i>
    Usuarios de  BookBuy™
  </b>
</h4>
<hr />

{{! Mostrar los mensajes en caso de existir }}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

<div class="container text-center">
  {{! Mostrar los proyectos (si existen) }}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <b>
            No.
          </b>
        </th>
        <th scope="col">
          <b>
            Nombre Completo
          </b>
        </th>
        <th scope="col">
          <b>
            Nombre de Usuario
          </b>
        </th>
        <th scope="col">
          <b>
            Teléfono
          </b>
        </th>
        <th scope="col">
          <b>
            Correo Eléctronico
          </b>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if usuariosAll}}
        {{#each usuariosAll}}
          <tr>
            <th scope="row">
              <a>{{dataValues.id}}</a>
            </th>
            <td>
              <a>{{dataValues.fullname}}
            </td></a>
            <td>
              <a> {{dataValues.username}}</a>
            </td>
            <td>
              <a>{{dataValues.phone}}</a>
            </td>
            <td>
              <a >{{dataValues.email}}</a>
            </td>
          </tr>
        {{/each}}
      {{else}}

      {{/if}}
    </tbody>
  </table>
</div>
<hr />

<div style="height: 100px;">
</div>