<hr />
<h4 class="text-center mb-5">
  <b>
    <i class="fas fa-globe mr-2"></i>
    Estanteria Global
  </b>
</h4>
<hr />

{{! Mostrar los mensajes en caso de existir }}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

<div class="container text-center">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <b>
            Titulo del libro
          </b>
        </th>
        <th scope="col">
          <b>
            Vendedor
          </b>
        </th>
        <th scope="col">
          <b>
            Fecha
          </b>
        </th>
        <th scope="col">
          <b>
            Precio
          </b>
        </th>
        <th scope="col">
          <b>
            Beneficio
          </b>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if librosAll}}
        {{#each librosAll}}
          <tr>
            <td>
              {{dataValues.nombre}}
            </td>
            <td>
              {{dataValues.emailVendedor}}
            </td>
            <td>
              {{dataValues.fecha}}
            </td>
            <td>
              L.{{dataValues.precio}}
            </td>
               <td>
              L.{{dataValues.beneficioBookBuy}}
            </td>
          </tr>
        {{/each}}
      {{else}}

      {{/if}}
    </tbody>
  </table>
</div>