<hr />
<h5 class="text-center">
  <b>
    Estantería BookBuy™
  </b>
</h5>
<hr />

{{! Mostrar los mensajes en caso de existir }}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}


<div class="container d-flex">
  <div class="card-deck">
    {{#if libros}}
      {{#each libros}}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-6 " id="hoverCardy" >
        {{!-- Contenido --}}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative border-primary">
        <div class="col p-4 d-flex flex-column position-static">
          <div  id="principal" class="mb-3">
            <strong class="d-inline-block mb-2 text-primary">{{dataValues.nombre}}</strong>
          </div>
          <h3 class="mb-0">L. {{dataValues.precio}}</h3>
          <div class="mb-1 text-muted">Autor: <a >{{dataValues.autor}}</a></div>
          <div class="mb-1 text-muted">Categoría: <a >{{dataValues.categoria}}</a></div>
          <div class="mb-1 text-muted">Vendedor: <a >{{dataValues.vendedor}}</a></div>
          

          <div class="row">
            <div class="col-8">
                <form action="/checkout" method="POST" class="mt-2">
                  <input type="text" value={{dataValues.precio}}  name="precio" hidden/>
                  <input type="text" value="{{dataValues.nombre}}" name="nombreLibro" hidden />
                  <input type="text" value={{dataValues.emailVendedor}} name="emailVendedor" hidden />
                  <input type="text" value={{dataValues.id}} name="idLibro" hidden/>
                  <input type="text" value={{dataValues.usuarioId}} name="idVendedor"  hidden />
                  <input type="text" value={{dataValues.beneficioBookBuy}} name="beneficioBookBuy" hidden />
                  <input type="text" value={{dataValues.beneficioUsuario}} name="beneficioUsuario" hidden />
                  <input type="text" value={{dataValues.beneficioStripe}} name="beneficioStripe"  hidden  />
                  <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button oculto"
                    data-key="pk_test_51H5se7H7MJGBcY4YCYjUeBwgg0jBunZDEGDZZ7kPIqs3rhk8FvnWPQ3gHMhQ7VOx7KaeYBZlhEnjNq0clLnPi24C00rEkpgYmn"
                    data-name="Book Buy"
                    data-image="./images/book.png"
                    data-description="Compra Segura"
                    data-locale="auto">
                    </script>
                </form>
            </div>
            <div class="col-4">
                 <a type="button" title="{{dataValues.nombre}}" data-container="body" data-toggle="popover" data-placement="right" data-content="{{dataValues.descripcion}}" >
                    <img src="https://img.icons8.com/color/48/000000/open-in-popup.png"/>
                </a>
            </div>
          </div>

        
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="250" height="250" src="https://image.freepik.com/vector-gratis/ilustracion-educacion-regreso-escuela-pila-libros-trofeo-oro-futuro-ganador-exito_143055-169.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
          <div class="ml-5 text-muted">
                  <small>
                    Publicado {{dataValues.fecha}}
                  </small>
                </div>
        </div>
      </div>
        </div>
      {{/each}}
    {{else}}
     
    {{/if}}
  </div>
</div>



<hr>
{{!-- <div class="container mt-5">
  <div class="col text-center mb-3 mt-6">
    <a href="/crear_libro" class="btn btn-success btn-lg text-center" id="comment">
      Vender un nuevo libro
    </a>
  </div>
</div>
<br /> --}}


<style>
  #boton{display:none;}
</style>









