
<hr>
<h3 class="mt-3 text-center"><b>Adquiere el tuyo ¡ahora mismo!</b> </h3>
  <hr>


{{!-- Mostrar los mensajes en caso de existir --}}
{{#if mensajes}}
  {{#each mensajes}}
   <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

{{!--  Mostrar si existen los proyectos --}}



<div class="container">
  <div class="card-deck  col-md-12 mb-3  text-center">
    {{!-- Mostrar los proyectos (si existen) --}}
    {{#if libros}}
        {{#each libros}}
          
<div class="row mr-auto">
  <div class="col-md-12 ">
              <div class="card" id="cardHome">
         <div class="card-body text-left">
         {{!-- Averiguar como mostrar las imagenes --}}
         <h5> <b>Nombre :</b>  {{ dataValues.nombre  }}</h5>
         <h5> <b>Autor:</b> {{ dataValues.autor  }}</h5>
         <h5> <b>Precio:</b> L.{{ dataValues.precio  }}</h5>
         <h5> <b>ISBN:</b> {{ dataValues.ISBN  }}</h5>
         <label for="exampleFormControlTextarea1 text-center"><h5><b> Descripción:</b></h5></label>
         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled > {{ dataValues.descripcion  }}</textarea>
            <button id="eliminar-libro" data-libro-url={{dataValues.url}} type="button" class="btn btn-primary btn-lg btn-block mt-2">Comprar</button>
        <h6 class="text-muted mt-1" >  {{ dataValues.fecha  }}</h6>
        </div>
       </div>
       <br>
  </div>
</div>

        {{/each}}
    {{else}}
      <h4 class="text-center">Se el primero en vender un libro con nosotros</h4>
         {{/if}}
  </div>
</div>

<hr>
 <div class="container">
  <div class="row">
    <div class="col text-center mb-3">
       <a href="/crear_libro" class="btn btn-success btn-lg text-center">Vender un nuevo libro</a>
    </div>
<div class="container">

</div>


