<hr>
<h5 class="text-center mt-4 mb-4"><i class="fas fa-book  ml-2  mr-2"></i>Mi Estantería</h5>
<hr>

{{! Mostrar los mensajes en caso de existir }}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

<div class="container text-center mt-4">
  <div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col" >
          <b>
            <a>Título del libro</a>
          </b>
        </th>
        <th scope="col">
          <b>
            <a>Acción</a>
          </b>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if libros}}
        {{#each libros}}
          <tr>
            <td>
              <a>{{dataValues.nombre}}</a>
            </td>
            <td>
              <a
                type="button"
                href="/libro/{{dataValues.url}}"
                class="btn btn-primary  ml-2 mt-1"
              >
                Editar
              </a>
              <button
                name="quitar-libro"
                data-libro-url={{dataValues.url}}
                type="button"
                class="btn btn-danger ml-2 mt-1"
                id="quitarLibro"
              >
                  Quitar
              </button>
            </td>
          </tr>
        {{/each}}
      {{else}}
   <div class="alert alert-info mt-4" role="alert">
           <a> {{usuario.username}}, aún no estás vendiendo ningún libro ¿Qué esperas?</a>
        </div>
      {{/if}}
    </tbody>
  </table>
  </div>

</div>

<div class="row mt-3 mb-5">
  <div class="col text-center mb-3 mt-7">
    <a href="/crear_libro" class="btn btn-success btn-lg text-center mt-3">
      Añadir un nuevo libro a mi estantería
    </a>
  </div>
</div>


<div style="height: 70px;">
</div>

