<hr>
<h5 class="text-center mt-4 mb-4"><i class="fas fa-search-dollar ml-2  mr-2"></i>Mis Ventas </h5>
<hr>

{{! Mostrar los mensajes en caso de existir }}
{{ourMessages}}



<div class="container text-center mt-4 mb-7">
  {{#if ventas}}
<div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <strong>¡ Excelente {{usuario.username}}  !  </strong> 
        <a>has vendido un nuevo libro de tu estantería</a>
    </div>
 {{/if}}
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <b>
            <a> Título del libro</a>
          </b>
        </th>
        <th scope="col">
          <b>
            <a>Fecha de Venta</a>
          </b>
        </th>
        <th scope="col">
          <b>
            <a>Precio</a>
          </b>
        </th>
        <th scope="col">
          <b><a>Mi Beneficio</a></b>
<a
  data-toggle="modal"
  data-target="#exampleModalCenter">
  <i class="fas fa-info-circle"></i>
</a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if ventas}}
        {{#each ventas}}
          <tr>
            <td>
              <a>{{dataValues.nombreLibro}}</a>
            </td>
               <td>
              <a>{{dataValues.fecha}}</a>
            </td>
            <td>
             <a> L.{{dataValues.precio}}</a>
            </td>
            <td>
              <a>L.{{dataValues.beneficioUsuario}}</a>
            </td>
          </tr>
        {{/each}}
      {{else}}

    <div class="alert alert-warning alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-info-circle"></i>
        </div>
        <strong>¡ Ánimo {{usuario.username}} !</strong> 
        <a> aún no se ha vendido ninguno de tus libros</a>
    </div>  
      {{/if}}
    </tbody>
  </table>
    </div>
</div>



<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <i class="fas fa-money-check-alt mr-3"></i>Políticas de Pago
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Recuerda que BookBuy obtiene un 15% como comisión de cada una
        de las ventas que realices en nuestra plataforma de servicios.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="tn btn-primary" data-dismiss="modal"> Entiendo</button>
        </button>
      </div>
    </div>
  </div>
</div>


<div style="height: 210px;">
</div>
