
<hr>
<h5 class="text-center mt-4 mb-4"><i class="fas fa-shopping-basket ml-2  mr-2"></i>Mis Compras</h5>
<hr>

{{! Mostrar los mensajes en caso de existir }}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

<div class="container text-center mt-3 mb-7">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <b>
            Título del libro
          </b>
        </th>
        <th scope="col">
          <b>
            Fecha de Compra
          </b>
        </th>
        <th scope="col">
          <b>
            Precio
          </b>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if compras}}
        {{#each compras}}
          <tr>
            <td>
              {{dataValues.nombreLibro}}
            </td>
            <td>
              {{dataValues.fecha}}
            </td>
            <td>
              L.{{dataValues.precio}}
            </td>
          </tr>
        {{/each}}
      {{else}}
        <div class="alert alert-info mt-4" role="alert">
         {{usuario.username}} aún no has comprado ningún libro ¿Qué esperas?
        </div>
      {{/if}}
    </tbody>
  </table>
</div>

<div style="height: 450px;">
</div>