
<hr>
<h5 class="text-center mt-4 mb-4"><i class="fas fa-shopping-basket ml-2  mr-2"></i>Mis Compras</h5>
<hr>

{{ourMessages}}



<div class="container text-center mt-3 mb-7">
  {{#if compras}}
<div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <strong>¡ Eres Genial {{usuario.username}} ! </strong> 
       <a class="mr-1">has realizado una nueva compra con nosotros</a>
            <a
             data-toggle="modal"
            data-target="#exampleModalCente">
            <i class="fas fa-info-circle"></i>
          </a>
    </div>
 {{/if}}
  <div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <b>
            <a>Título del libro</a>
          </b>
        </th>
        <th scope="col">
          <b>
            <a>Fecha de Compra</a>
          </b>
        </th>
        <th scope="col">
          <b>
            <a>Precio</a>
          </b>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if compras}}
        {{#each compras}}
          <tr>
            <td>
              <a>{{dataValues.nombreLibro}}</a>
            </td>
            <td>
             <a> {{dataValues.fecha}}</a>
            </td>
            <td>
              <a>L.{{dataValues.precio}}</a>
            </td>
          </tr>
        {{/each}}
      {{else}}

    <div class="alert alert-warning alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-info-circle"></i>
        </div>
        <strong>¡Vamos {{usuario.username}}!</strong> 
        <a>aún no has comprado ningún libro ¿Qué esperas?</a>
    </div>    
      {{/if}}
    </tbody>
  </table>
  </div>

</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCente"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <i class="fas fa-shipping-fast mr-3"></i>Entrega rápida
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
      <p>
¡Nuestro equipo de entrega es el más veloz! así que en menos de 8 horas tendrás tu libro. Nos
comunicaremos a través de tu número de teléfono o tu correo electrónico para realizar la entrega.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="tn btn-primary" data-dismiss="modal"> Entiendo</button>
        </button>
      </div>
    </div>
  </div>
</div>

<div style="height: 190px;">
</div>