

<h4 class="text-center mt-4 mb-4"><i class="fas fa-search-dollar ml-2  mr-2"></i>Mis Ventas </h4>


{{! Mostrar los mensajes en caso de existir }}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

<div class="container text-center mt-4 mb-7">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <b>
            Título del libro
          </b>
        </th>
        <th scope="col">
          <b>
            Fecha de Venta
          </b>
        </th>
        <th scope="col">
          <b>
            Precio
          </b>
        </th>
        <th scope="col">
          <b>Mi Beneficio</b>
<a
  data-toggle="modal"
  data-target="#exampleModalCenter">
  <i class="fas fa-info-circle"></i>
</a>

        </th>
      </tr>
    </thead>
    <tbody>
      {{#if ventas}}
        {{#each ventas}}
          <tr>
            <td>
              {{dataValues.nombreLibro}}
            </td>
               <td>
              {{dataValues.fecha}}
            </td>
            <td>
              L.{{dataValues.precio}}
            </td>
            <td>
              L.{{dataValues.beneficioUsuario}}
            </td>
          </tr>
        {{/each}}
      {{else}}
      <div class="alert alert-info mt-4" role="alert">
            {{usuario.username}} aún no tienes ventas de ninguno de tus libros 
        </div>
      {{/if}}
    </tbody>
  </table>
</div>



<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <i class="fas fa-money-check-alt mr-3"></i>Políticas de Pago
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Recuerda que BookBuy obtiene un 15% de la comisión de cada una
        de las ventas que realiaces en nuestra plataforma de servicios
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="tn btn-primary" data-dismiss="modal"> Entiendo</button>
        </button>
      </div>
    </div>
  </div>
</div>

<div style="height: 450px;">
</div>
